<div class="container-fluid">
  <div class="row">
    <div id="list" class="col-md-8 col-md-offset-2">
      <div class="well">
        <div class='js-items-count'> You have <%= pluralize(@user.num_of_todos, 'item') %> to complete 
        </div>
        <div class='js-items'>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Days Left</th>
                  <th>Delete</th>
                  <th>Complete?</th>
                </tr>
              </thead>
              <tbody>   
                <tr>         
                  <%= render partial: 'items/item', collection: @items %> 
                </tr>       
              </tbody>
            </table>
          </div>
        </div>
        <div class="new-item">
          <div class="form-inline">
            <div class="form-group">
              <%= render 'items/form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>