<div class='js-items-count'> You have <%= pluralize(@user.num_of_todos, 'item') %> to complete </div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class='js-items'>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Item</th>
                <th>Days Left</th>
                <th>Delete</th>
                <th>Complete?</th>
              </tr>
            </thead>
              <tbody>   
                <tr>         
                  <%= render partial: 'items/item', collection: @items %> 
                </tr>       
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>  
<div class="new-item">
  <div class="col-md-4 col-md-offset-3">
    <div class="form-group">
      <%= render 'items/form' %>
    </div>
  </div>
</div>