
  
<% if @user.present? %> 
<% end %>
<div class='js-items-count'><%= pluralize(@user.items.count, 'item') %></div>


<%= render partial: 'items/item', collection: @items %>

<%= render 'items/form' %>
