<%= form_for [@user, @user.items.new] do |f| %> 
  <input type="name" class="form-control" id="input-item" placeholder="Add an item">
  <button type="submit" class="btn btn-success btn-sm">Just do it!</button>
<% end %>