/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.jumbotron {
  margin-top: 45px;
  font-size: 21px;
  font-weight: 200;
  background-color: #f1e8ca;
  text-align: center;
  max-width: 500px;
}

p a {
  margin: .15%;
}


body {
  font-family: 'Bree Serif', serif;
  background-color: #dd855c;
  text-align: center;
}

.js-items-count {
  font-size: 2.25em;
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  background-color: #9ebd9e;
  padding-bottom: 9px;
}

table { 
  background-color: #f1e8ca;
  color: #745151;
}

tr th {
  text-align: center;
  font-size: 1.5em;
}

a {
  margin-right: 30px;
}

button {
  margin-left: 30px;
}

header div a {
  margin: .05%;
}